<div class="card cursor-pointer" (click)="onUpdate(note)">
  <div class="card-body">
      <mat-icon class="mx-1 icon icon-pin"  matTooltip="Pin note" matTooltipPosition="above">place</mat-icon>
    <h5 class="card-title">{{note.title}}</h5>
    <p class="card-text">{{note.description}}</p>
  </div>
  <div class="card-toolbar">
    <div class="icon-list">
      <mat-icon class="mx-1 icon" matTooltip="Archive note" matTooltipPosition="above">archive</mat-icon>
      <mat-icon class="mx-1 icon" (click)="onDeleted($event)" matTooltip="Delete note" matTooltipPosition="above">delete</mat-icon>
    </div>
  </div>
</div>
