<mat-card class="sub-card">
  <mat-card-header class="sub-card-header d-block">
    <mat-card-title>
      <h3 class="text-white">Login</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-alert></app-alert>

    <form #loginForm='ngForm' (ngSubmit)='onSubmit(loginForm)' class="mx-3" autocomplete="off">
      <mat-form-field class="d-block">
        <input matInput ngModel #username="ngModel" placeholder="Username" name="username" required>
        <mat-error *ngIf="username.hasError('required')">This is required field.</mat-error>
      </mat-form-field>
      <mat-form-field class="d-block">
        <input matInput ngModel #password="ngModel" placeholder="password" [type]="hide ? 'password' : 'text'" name="password" required>
        <mat-icon matSuffix (click)="hide = !hide" matTooltip="{{hide ? 'Show password':'Hide password'}}" matTooltipPosition="above">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.hasError('required')">This is required field.</mat-error>
      </mat-form-field>

      <div class="row flex-sm-row-reverse">
          <div class="col-sm text-center text-sm-right mt-3">
              <button mat-flat-button color="primary" class="order-sm-4">Sign In</button>
            </div>
        <div class="col-sm text-center text-sm-left mt-3">
          <button type="button" mat-button [routerLink]="['']" class="order-sm-2">Forget Password ?</button>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
