.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.hide-sidenav .mat-drawer.mat-drawer-side{
  visibility: hidden !important;
}
.hide-sidenav .mat-drawer-content{
  margin-left: 0px !important;
}