<mat-sidenav-container class="sidenav-container" [ngClass]="{'hide-sidenav': !isLoggedIn}">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Sticky Note</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['']">
        <mat-icon class="mr-2">home</mat-icon> Home
      </a>
      <a
        mat-list-item
        [routerLink]="['/notes']">
        <mat-icon class="mr-2">note</mat-icon> Notes
      </a>
      <a
        mat-list-item
        [routerLink]="['/notes/trashed']">
        <mat-icon class="mr-2">delete</mat-icon> Trash
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isLoggedIn && isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span *ngIf="!isLoggedIn">Sticky Note</span>
        <div class="d-inline-block ml-auto">
          <div *ngIf="!isLoggedIn; else userInfo">
            <button mat-button class="pr-2 font-20" [routerLink]="['']">Home</button> |
            <button mat-button class="pl-2 font-20" [routerLink]="['/login']">Login</button>
          </div>

        </div>
      </mat-toolbar-row>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container-fluid py-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userInfo>
  <span class="pr-2">Welcome {{user?.username}} !</span>
  <button mat-button class="font-20" (click)="openLogoutDialog()">Logout</button>

</ng-template>
