<form #noteForm='ngForm' (ngSubmit)='onSubmit(noteForm)' autocomplete="off">

    <h1 mat-dialog-title>
      <mat-form-field class="d-block">
        <input matInput placeholder="Title" [(ngModel)]="data.title" #title="ngModel" name="title" required>
        <mat-error *ngIf="title.hasError('required')">This is required field.</mat-error>
      </mat-form-field>
    </h1>
    <div mat-dialog-content>
        <mat-form-field class="d-block">
          <textarea matInput placeholder="Description"  [(ngModel)]="data.description" #description="ngModel" name="description" cols="8" required></textarea>
          <mat-error *ngIf="description.hasError('required')">This is required field.</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
      <button type="button" mat-button (click)="onNoClick()" class="mr-2">{{data.cancelBtnCaption}}</button>
      <button mat-flat-button cdkFocusInitial color="primary" class="ml-2">{{data.confirmBtnCaption}}</button>
    </div>
    </form>
    
    