<div class="mx-auto" style="max-width: 600px;">

  <mat-form-field class="d-block">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search" [(ngModel)]="queryString">
  </mat-form-field>
</div>

<div class="card-columns">
    <div *ngFor="let note of notes | filter: queryString; let i=index" class="card cursor-pointer">
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.description}}</p>
      </div>
      <div class="card-toolbar">
        <div class="icon-list">
          <mat-icon class="mx-1 icon" (click)="onDeleteDialog(note.id)" matTooltip="Delete forever" matTooltipPosition="above">delete</mat-icon>
          <mat-icon class="mx-1 icon" (click)="onRestore(note.id)" matTooltip="Restore note" matTooltipPosition="above">restore</mat-icon>
        </div>
      </div>
    </div>
    
</div>
