.card-body{
    padding-bottom: 0px;
}
.card-toolbar{
    padding: .5rem 1rem;
}.card:hover{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card .icon{
    color: transparent;
}
.card:hover .icon{
    color: #6c757d;
}
.icon-pin{
    position: absolute;
    top: 4px;
    right: 4px;
}
.icon:hover{
    color: #333 !important;
}