/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-error{
    text-align: right;
}
.cursor-pointer{
    cursor: pointer;
}
.font-20{
    font-size: 1.25rem !important;
}

/* Mateiral Css */
.sub-card{
    padding: 0px !important;
    max-width: 460px;
    width: 100%;
    margin: 50px auto 100px;
}
.sub-card-header{
    background-color: #3f51b5;
    text-align: center;
}
.sub-card .mat-card-title{
    margin-bottom: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mat-card-content{
    padding: 24px !important;
}
.mat-form-field{
    margin-top: 15px;
    margin-bottom: 30px;
}

.mat-button:hover, .mat-flat-button:hover{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}