@media (min-width:576px) {
    .card-columns {
      -webkit-column-count: unset;
      -moz-column-count: unset;
      column-count: unset;
      -webkit-column-width: 240px;
      -moz-column-width: 240px;
      column-width: 240px;
      column-gap: .8rem;
    }
}


.btn-fab {
  position: fixed;
  right: 30px;
  bottom: 15px;
}
.btn-fab button:focus{
  outline: none;
}

