<div class="mx-auto" style="max-width: 600px;">

  <mat-form-field class="d-block">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search" [(ngModel)]="queryString">
  </mat-form-field>
</div>

<div class="card-columns">
  <app-card *ngFor="let note of notes | filter: queryString; let i=index" [note]="note" (deleteItem)="onDelete($event)">
  </app-card>
</div>



<div class="btn-fab">
  <button mat-fab color="primary" (click)="addNote()">
    <mat-icon matTooltip="Add note" matTooltipPosition="above">add</mat-icon>
  </button>
</div>
